<h1><%= @article.title %></h1>
<small><%= @article.created_at %></small>
<p><%= @article.body %></p>

<b><%= link_to "Obrisi post", article_path(@article), method: :delete, data: { confirm: "Da li ste sigurni da zelite obristi post?" } %></b>
